openapi: 3.0.3
info:
  title: Terraform Cloud API
  version: v2
servers:
  - url: https://app.terraform.io/api/v2
security:
- BearerToken: []
paths:
  /workspaces/{workspaceId}/configuration-versions/:
    post:
      description: List configuration versions for a workspace
      operationId: listConfigurationVersions
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema: {}
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: "#/components/schemas/configVersionRequest"
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/configVersionResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "415":
          description: Unsupported Media
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMedia"
  /runs/{runId}/:
    get:
      description: Get Run Information
      operationId: getRun
      parameters:
        - name: runId
          in: path
          required: true
          schema: {}
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/runResponse"
        "404":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/runNotFoundOrUnauthorized"
components:
  schemas:
    configVersionRequest:
      type: object
      properties:
        data: 
          type: object
          properties:
            type: 
              type: string
            attributes:
              type: object 
      additionalProperties: false
    configVersionResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    runResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    UnauthorizedError:
      type: object
    UnsupportedMedia:
      type: object
    runNotFoundOrUnauthorized:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
